@use 'variables' as v; 

html {
    font-size: 0.8rem;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    background-color: #f9f9f9;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.text-center{
    text-align: center;
}

.f-w-400{
    font-weight: 400;
}

.f-w-500{
    font-weight: 500;
}

.f-w-700{
    font-weight: 700;
}

.f-w-900{
    font-weight: 900;
}

.bg-img-inicio{
    background-image: url(../img/teclado_portada.webp);
}

.bg-img-teclado{
    background-image: url(../img/teclado_portada_2.webp);
}
