@use "base/variables" as v;

.espacio{
    margin: 0;
    background-color: v.$negro;

    &__redes{
        padding: 0.5rem;
        display: flex;
        place-items: center;

        a{  
            display: flex;
            font-size: 15px;
            color: v.$blanco;
            padding: 0 0.5rem;

            span{
                padding: 0 1rem;
            }

            &:hover svg{
                color: rgb(100, 92, 92);
            
            }
        }

        
    }
    
}